* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f9f9f9;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px #9b9b9b;

}

fieldset {
    padding: 15px;
    border-radius: 5px;
    border-width: 1px solid #cccccc;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea {
    min-height: 100px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

input[type='color'] {
    width: 40px;
    padding: 0 5px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

