* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px #9b9b9b;

}

fieldset {
    padding: 15px;
    border-radius: 5px;
    border-width: 1px solid #cccccc;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea {
    min-height: 100px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

input[type='color'] {
    width: 40px;
    padding: 0 5px;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input:invalid, seelct:invalid, textarea:invalid{
    border-color: red;
}

input:valid, select:valid, textarea:valid{
    border-color: green;
}

button[type="submit"]:hover{
    background-color: green;
    color: #ffffff;
}

button[type="reset"]:hover{
    background-color: orangered;
    color: #ffffff;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button#backButton {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0;
}

small {
    display: block;
    margin: 4px 0;
    font-size: 0.85rem;
    color: #4a4a4a;
}
